body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-image: url('../../public/bgMainPage.png'); */
    background-size: cover;
    background: radial-gradient(circle, rgba(36, 36, 36, 1) 40%, rgba(12, 12, 12, 1) 100%);
}
*{
    margin: 0;
    padding: 0;
    background-color: none;
}